
#container{
    margin: 20%;
}

#form-div{
    background-color: aqua;
    margin: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    display:inline-block
}

#rates-div{
    background-color: aqua;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

#submit-btn{
    border: none;
    height: 30px;
}

#recent-rates-form{
    padding-top: 2%;
}

#recent-rates-btn{
    border: none;
}

.dropdown-btns{
    height: 30px;
    border: none;
}

#in{
    padding-top: 2%;
}

#amount-input{
    height: 30px;
}
/*!*  SHOW CONTAINERS *!*/
/*div[class="row"] {*/
/*    outline: 1px dotted rgba(0, 0, 0, 0.25);*/
/*}*/

/*div[class^="col-"] {*/
/*    background-color: rgba(255, 0, 0, 0.2);*/
/*    outline: 1px dotted rgba(0, 0, 0, 0.5);*/
/*}*/