
#container{
    margin: 20%;
}

#form-div{
    background-color: aqua;
    margin: 1%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display:inline-block
}

#rates-div{
    background-color: aqua;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
