#rates-div{
    align-content: center;
    align-self: center;
    border-style: solid;
    font-weight: bold;
}

#submit-btn{
    border: none;
    color: white;
    padding: 1%;
    font-size: 150%;
    border-radius: 5px;
}
