<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/converterStyle.css" th:href="@{/../static/css/converterStyle.css}" />
    <title>Exchange</title>
</head>
<body>
    <div id="container">
        <form action="/convert" id="input-form">
            <h1>Currency Converter</h1>
            <p style="float: left">Value of: </p>
            <input type="number" name="amount">
            <select name="first">
                <option value="GBP">GBP</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
            <p>in</p>
            <select name="second">
                <option value="GBP">GBP</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
            <button id="submit-btn">Submit</button>
        </form>
    </div>
</body>
</html>