<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/converter.css" th:href="@{/css/converter.css}" />
    <title>Exchange</title>
</head>
<body>
<div class="col-xs-9" align="center">
    <h1>Currency Converter</h1>
</div>
<div id="container" class="col-xs-9" align="center">
    <div id="form-div">
        <form action="/convert" id="input-form">
            <p style=" font-weight:bold;">Value of: </p>
            <div id="amount-and-first">
                <input type="number" step=".01" placeholder="Enter amount..." name="amount" id="amount-input" style="float: left" required>
                <select name="first" class="dropdown-btns" style="float: right">
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="JPY">JPY</option>
                    <option value="PLN">PLN</option>
                </select>
            </div>
            <p style="font-weight:bold;" id="in">in</p>
            <div id="second-and-submit">
                <select name="second" class="dropdown-btns" style="float: left">
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="JPY">JPY</option>
                    <option value="PLN">PLN</option>
                </select>
                <button id="submit-btn">Submit</button>
            </div>
        </form>
        <form action="/recentRates" id="recent-rates-form">
            <button id="recent-rates-btn">Get Recent Rates</button>
        </form>
    </div>
</div>
</body>
</html>