<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exchange</title>
</head>
<body>
    <h1>Currency Converter</h1>
    <form action="/convert" id="input-form">
        <select name="first">
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
        <select name="second">
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
        <button id="submit-btn">Submit</button>
    </form>
</body>
</html>